*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
html,
body{
    width: 100%;
    height: 100%;
}

body{
    font-family: Helvetica;
}

.container{
    width: 100%;
    height: 100%;

    display: flex;
    background: linear-gradient(to right, #ffefba, #ffffff);
}


.left-section{
    /* background-color: red; */

    height: 100%;
    width: 55%;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top: 10vh;
}

.left-section>h1{
    font-size: 50px;
    margin: 10px;

    text-align: center;
}

.left-section>h1>i{
    margin-right: 20px;
    color: rgb(255, 217, 0);
}

.login-text{
    font-size: 35px;
}


.input-box{
    font-size: 20px;
    margin-top: 20px;
    padding: 7px;
}

.login-button{
    color: white;
    background-color: black;
    font-size: 30px;
    text-align: center;

    width: 17.5vmax;
    height: auto;

    margin-top: 15px;
    padding: 5px;

    border-radius: 10px;

}

.login-button:hover{
    transition: 1s;
    cursor: pointer;
    color:darkblue;
    background-color: rgba(128, 128, 128, 0.464);
}

.forget{
    color: blue;
    margin-left: 20px;
}

.forget:hover{
    cursor: pointer;
    text-decoration: underline;
}

.text1{
    font-size: 20px;
    margin-top: 40px;

    padding: 20px;
    border-top: 2px solid black;

}

.image-section{
    display: flex;
}

.image1{
    height: 40px;
    width: auto;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 5px;
    padding: 10px;
}

.image1:hover{
    cursor: pointer;
}

.new-user{
    margin-top: 40px;
}

.creation{
    color: blue;
}

.creation:hover{
    cursor: pointer;
    text-decoration: underline;
}


/*  */


.right-section{
    /* background-color: green; */
    background: url('https://images.unsplash.com/photo-1543599538-a6c4f6cc5c05?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 100vh;
    width: 45%;
}


/*  */

/* media query */

@media (min-width: 601px) and (max-width: 1024px) {

}

@media (min-width: 320px) and (max-width: 600px){
    .left-section{
        width: 100%;    
    }

    .right-section{
        display: none;
    }

    .left-section>h1>i{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }


}